/* common css */
body {
    font-family: 'Open Sans', sans-serif;
}

main section {
    margin-top: 130px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 15px 32px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.main-title {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* nav styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav h3 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    color: var #474747;
    font-size: 20px;
    font-weight: 400;
}

nav li a {
    text-decoration: none;
}

/* header styles */
.header {
    background: #FFF8F3;
    background: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 650px;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
}

.banner img {
    width: 500px;
}

.banner h3 {
    color: #474747;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 185px;
}

.banner h1 {
    color: #181818;
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner p {
    color: #757575;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0;
}



/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0;
}

.about .about-description {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

/* what i do styles */

#what-i-do-description {
    padding: 30px 150px;
    text-align: center;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill-title {
    margin: 20px 0px 38px;
    color: #181818;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.skill-description {
    color: #757575;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

/* resume section styles */
.resume-container {
    display: flex;
    gap: 70px;
}

.resume-colum-title {
    color: #474747;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resume-container hr {
    margin-top: 30px;
}

.btn {
    margin-top: 50px;
    text-align: center;
}

/* footer-part styles */

footer {
    padding: 130px 230px;
    background: #FFF8F3;
    display: flex;
    gap: 100px;
    margin-top: 100px;
}

footer h3 {
    color: #181818;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 227px;

}

footer p {
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 576px;
    margin: 20px 0;
}

.contact input {
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: var(--White-Color, #FFF);
    border: 0;
}