/* common css */
body {
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    padding: 15px 32px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

/* nav styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

nav h3 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
    color: var #474747;
    font-size: 20px;
    font-weight: 400;
}

nav li a {
    text-decoration: none;
}

/* header styles */
.header {
    background: #FFF8F3;
}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner img {
    width: 500px;
}

.banner h3 {
    color: #474747;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 185px;
}

.banner h1 {
    color: #181818;
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner p {
    color: #757575;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0;
}